
html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(images/ancientDragon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }

  .container {
    text-align: center;
    width: 73%;
  }
  
  .container > p {
    font-size: 25px;
    color: #dcdde1;
  }
  
  .container > h1 {
    color: #282519;
    text-decoration: underline;
  }
  
  .hyperlink {
    color: rgb(185, 14, 54);
    font-weight: bolder;
    cursor: pointer;
  } 