
html {
    background: url(images/ancientDragon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
} 


h1  {
    color: #282519;
    font-size: 55px;
    text-decoration: underline;
    text-align: center;
}


#weapons    {
    height: 25vh;
    display: flex;
    justify-content: space-evenly; 
    padding-left: 100px;
    padding-right: 100px;
    background-color: darkred;
}


#weapons > img {
    width: 150px;
    height: 150px;
    border: 3px solid grey;
    padding: 5px;
    cursor: pointer;
}


#results-display    {
    background-color: black;
    font-size: 25px;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-evenly; 
    padding-left: 50px;
    padding-right: 50px;
}


#button {
    font-size: 150%;
    color:black;
    background-color: grey;
    margin-top: 30px;
    cursor: pointer;
}