
html {
    background: url(images/ancientDragon.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
} 

h1  {
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}

.weapons    {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.weapons > img {
    cursor: pointer;
}
